# Tareas

## 1. 

## 2. 

{{#layers}}

# Extracción
A continuación se muestran los pasos para la extracción por tipo de datos relevantes.

{{#nsvia}}
## Bairros
SRID: 
1. Abrir ``.
2. Selecciona archivos `{{orig_filename}}`.
3. Copie los archivos seleccionados al directorio de destino.

### Datos relevantes
Colunas da camada `{{orig_filename}}`:
* ``;
* ``.
{{/nsvia}}

{{#genericvia}}
## Lotes
SRID: 
1. Abrir ``.
2. Selecciona archivos `{{orig_filename}}`.
3. Copie los archivos seleccionados al directorio de destino.

### Datos relevantes
Colunas da camada `{{orig_filename}}`:
* `` (): ;
* `` (): .
{{/genericvia}}

{{#via}}
## Eixos
SRID: 
1. Abrir ``.
2. Selecciona archivos `{{orig_filename}}`.
3. Copie los archivos seleccionados al directorio de destino.

### Datos relevantes
Colunas da camada `{{orig_filename}}`:
* `` (): ;
* `` (): .
{{/via}}

{{#cadvia}}
## Lista de abreviaturas de tipos de logradouros
Charset: 
1. Abrir `OSM_dados_solicitacao.rar`.
2. Selecciona archivos `{{orig_filename}}`.
3. Copie los archivos seleccionados al directorio de destino.

### Datos relevantes
Colunas [número da coluna]:
* `` []: ;
* `` []: .

## Lista de abreviaturas de nomes de logradouros
Charset: 
1. Abrir ``.
2. Selecciona archivos `{{orig_filename}}`.
3. Copie los archivos seleccionados al directorio de destino.

### Datos relevantes
Colunas [número da coluna]:
* `` []: ;
* `` []: .
{{/cadvia}}

{{/layers}}

## Outros
Para outros projetos, há também dados sobre:
* ``:
  * 
* ``:
  * 

(!!! Havendo outros projetos, esta seção será detalhada !!!)

# Evidências de teste
Teste no QGIS:
![](qgis.png)

# Make
Para generar todas las capas descritas aquí, `make all_layers`. Todos los datos del "original filtrado" se escribirán en las tablas `ingest.layer_file` e` ingest.feature_asis`.

Para la generación de una sola capa o la descarga de datos de otra fuente, o el uso de una base que no sea `ingest1`, use demasiados parámetros. Ejemplo: `make pg_db=ingest2 orig=/tmp/sandOrig nsvia_full`.
